
.Listfood {
    /* margin-top: 40px; */
    display: block;
    float: right;
    width: 93%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.Listfood .card {
    /*border: 1px solid grey;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*margin: 40px 10px 10px 40px;*/
    /*width: 20%;*/
    /*height: 250px;*/
    /*margin-left: 20px;*/
    /*overflow: hidden;*/
    /*transition: background-color 0.5s ease;*/
    /*color: black;*/

    border: 1px solid grey;
    border-radius: 10px 10px 10px 10px;
    margin: 40px 10px 10px 40px;
    width: 260px;
height: 250px;
    margin-left: 20px;
    overflow: hidden;
    transition: background-color 0.5s ease;
    color: black;


}

.Listfood .card:hover {
    background-color: rgb(225, 228, 236);
    cursor: pointer;
}


.Listfood .card .image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: unset;
}

.Listfood .card .image div {
    width: 85%;
    height: 80%;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    border: 1px solid grey;
}

.Listfood .card .image img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.Listfood .card .name {
    font-family: 'Fredoka One', cursive;
    width: 100%;
    height: 25%;
    align-content: center;
    text-align: center;
}

.Listfood .card .name span {
    height: 100%;
    width: 100%;
    line-height: 50px;
}

.Listfood .card .infor {

    width: 100%;
    height: 25%;
}

.Listfood .card .infor .container {
    margin: 0px 5px 5px 5px;
    display: flex;
    height: 90%;
    align-items: center;
}

.box {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Fredoka One', cursive;
    font-size: smaller;
}

.line {
    height: 50%;
    border: 1px solid black;
}


.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('https://cdn-icons-png.flaticon.com/128/2377/2377810.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 13px;
    margin-right: 5px;
}

.cardButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
align-items: center;
    height: 77px;

}
.cardButton button{
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.popup-content {
    width: 267px;
    position: absolute;
    z-index: 999;
    pointer-events: auto;
    top: 435.171px;
    left: 97.443px;
}

.popup-arrow{
    display: none;
}
