.Navbar {
    float: right;
    margin-left: 66px;
    width: 90%;
    height: 100px;
    border-bottom: 0.01px solid rgb(199, 199, 199);

    /* background-color: aqua; */
}

.Navbar .Name {
    float: left;
    height: 100%;
    width: 150px;
    text-align: center;
}

.Navbar .Name span {

    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    line-height: 100px;
    /* font-weight: bold; */

}

.font-link {
    font-family: 'Hanalei Fill', cursive;
}


.Navbar .Searchbox {
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    float: right;
}

.Navbar .Searchbox div {
    line-height: 100px;
}

.search{
    height: 25px;
}

/* .Navbar  .Searchbox div input{
    margin-right: 50px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid grey;
    height: 30px;
    padding-inline-start: 10px;
} */